{% extends "content.html" %}
{% load static %}
{% load workify_tags %}

{% block main %}
    {% if clients.count > 0%}
    <table class="table table-striped align-middle table-hover">
        <thead>
            <tr>
                <th scope="col" >#</th>
                <th scope="col" ></th>
                <th scope="col" class="col-2">Name</th>
                <th scope="col">Active opportunities</th>
                <th scope="col">Active contracts</th>
                <th scope="col" class="col-2">Opportunities value</th>
                <th scope="col" class="col-2">Contracts remaining value</th>
                <th scope="col" >Status</th>
                <th scope="col" >Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr scope="row">
                <td>{{forloop.counter}}</td>
                <td><a href="{{ client.get_absolute_url }}" style="text-decoration:none">{% render_logo client %}</a></td>
                <td><a href="{{ client.get_absolute_url }}">{{ client }}</a> </td>
                <td><a href="#">[3]</a></td>
                <td><a href="#">[1]</a></td>
                <td>200 000 EUR</td>
                <td>250 000 EUR</td>
                <td>{% if client.is_active %} <span class="badge bg-primary">Active</span>{% else %}<span class="badge bg-secondary">Archived</span>{% endif %}</td>
                <td class="p-1">
                    <div class="btn-group" role="group">


                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}