{% extends "content.html" %}
{% load static %}

{% block breadcrumbs  %}
    <li class="breadcrumb-item"><a href="{% url 'employees:employee-list' %}">Employees</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{employee}} {% if not employee.user.is_active %} <span class="badge bg-secondary">Archived</span>{% endif %}</li>
{% endblock %}

{% block top-buttons %}
    {% if employee.user.is_active and perms.employees.change_employee %}
        <a href="{{ employee.get_update_url }}" class="btn btn-primary btn-sm">Edit</a>
    {% endif %}
    {% if employee.user.is_active and perms.employees.delete_employee %}
        <button type="button"
                hx-get="{{ employee.get_deactivate_url }}" 
                hx-target="#PopupModalContent" 
                hx-trigger="click"
                data-bs-toggle="modal" 
                data-bs-target="#PopupModal"
                class="btn btn-danger btn-sm">Deactivate</button>
    {% endif %}
    {% if not employee.user.is_active and perms.employees.delete_employee %}
        <button type="button"
                hx-get="{{ employee.get_activate_url }}" 
                hx-target="#PopupModalContent" 
                hx-trigger="click"
                data-bs-toggle="modal" 
                data-bs-target="#PopupModal"
                class="btn btn-success btn-sm">Activate</button>
    {% endif %}
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg">
            {% if employee.avatar %}
            <img src="{{ employee.avatar.url }}" alt="" class="img-thumbnail">
            {% endif %}
        </div>
        <div class="col-lg">
            <div class="row">
                <div class="col">First name:</div>
                <div class="col">{{ employee.user.first_name}}</div>
            </div>
            <div class="row">
                <div class="col">Last name:</div>
                <div class="col">{{ employee.user.last_name}}</div>
            </div>
            <div class="row">
                <div class="col">Email:</div>
                <div class="col"><a href="mailto:{{ employee.user.email}}">{{ employee.user.email}}</a></div>
            </div>
            <div class="row">
                <div class="col">Tax ID:</div>
                <div class="col">{{ employee.tax_id}}</div>
            </div>
            <div class="row">
                <div class="col">Groups:</div>
                <div class="col">
                    {% for group in employee.user.groups.all %}
                    <span class="badge bg-primary">{{ group }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}