{% extends "content.html" %}
{% load static %}
{% load workify_tags %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg">
            {% if employee.avatar %}
            <img src="{{ employee.avatar.url }}" alt="" class="img-thumbnail">
            {% endif %}
        </div>
        <div class="col-lg">
            <div class="row">
                <div class="col">First name:</div>
                <div class="col">{{ employee.user.first_name}}</div>
            </div>
            <div class="row">
                <div class="col">Last name:</div>
                <div class="col">{{ employee.user.last_name}}</div>
            </div>
            <div class="row">
                <div class="col">Email:</div>
                <div class="col"><a href="mailto:{{ employee.user.email}}">{{ employee.user.email}}</a></div>
            </div>
            <div class="row">
                <div class="col">Tax ID:</div>
                <div class="col">{{ employee.tax_id}}</div>
            </div>
            <div class="row">
                <div class="col">Groups:</div>
                <div class="col">
                    {% for group in employee.user.groups.all %}
                    <span class="badge bg-primary">{{ group }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col">Documents:</div>
                <div class="col"><a href="#documents_section" >[{{ employee.employeedocument_set.count }}]</a></div>
            </div>
            <div class="row">
                <div class="col">Rates:</div>
                <div class="col"><a href="#rates_section" >[{{ employee.employeerate_set.count }}]</a></div>
            </div>
            <div class="row">
                <div class="col">Time reports:</div>
                <div class="col">[todo] TR count and link</div>
            </div>
        </div>
    </div>
</div>
<div id="document-table-container" hx-get="{{ employee.get_documents_list_url }}" hx-trigger="load" hx-target="#document-table-container" hx-swap="innerHTML">
    <div class="spinner"></div>
</div>
<div id="rates-table-container" hx-get="{{ employee.get_rates_list_url }}" hx-trigger="load" hx-target="#rates-table-container" hx-swap="innerHTML">
    <div class="spinner"></div>
</div>
[TODO] PROJECT RATES
<div id="project-rates-table-container" hx-get="{{ employee.get_rates_list_url }}" hx-trigger="load" hx-target="#project-rates-table-container" hx-swap="innerHTML">
    <div class="spinner"></div>
</div>
{% endblock %}