{% extends "content.html" %}
{% load static %}
{% load workify_tags %}

{% block main %}
    {% if employees.count > 0%}
    <table class="table table-striped align-middle table-hover">
        <thead>
            <tr>
                <th scope="col" >#</th>
                <th scope="col" ></th>
                <th scope="col" class="col-4" >Name</th>
                <th scope="col" class="col-4">Email</th>
                <th scope="col" >Status</th>
                <th scope="col" >Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr scope="row">
                <td>{{forloop.counter}}</td>
                {% if employee == request.user.employee or perms.employees.view_all_employee_details %}
                <td><a href="{{ employee.get_absolute_url }}" style="text-decoration:none">{% show_avatar employee %}</a></td>
                <td><a href="{{ employee.get_absolute_url }}">{{ employee }}</a> </td>
                {% else %}
                <td>{% show_avatar employee %}</td>
                <td>{{ employee }}</td>
                {% endif %}

                <td>{{ employee.email }}</td>
                <td>{% if  employee.user.is_active %} <span class="badge bg-primary">Active</span>{% else %}<span class="badge bg-secondary">Archived</span>{% endif %}</td>
                <td class="p-1">
                    <div class="btn-group" role="group">


                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}