<div class="modal-header">
    <h5 class="modal-title" id="logoutModalLabel">Deactivate {{ employee }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <p>Are you sure you want to deactivate <strong>{{ employee }}</strong>?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <form method="POST" action="{{ employee.get_deactivate_url }}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm</button>
    </form>
</div>