{% extends "content.html" %}
{% load static %}
{% load workify_tags %}

{% block main %}
    {% if budgets.count > 0%}
    <table class="table table-striped align-middle table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
                <th scope="col">Status</th>
                <th scope="col" >Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for budget in budgets %}
            <tr scope="row">
                <td>{{forloop.counter}}</td>
                <td><a href="{{ budget.get_absolute_url }}">{{ budegt }}</a> </td>
                <td>{{budget.value}} {{budget.currency}}</td>
                <td>{% if budget.is_active %} <span class="badge bg-primary">Active</span>{% else %}<span class="badge bg-secondary">Archived</span>{% endif %}</td>
                <td class="p-1">
                    <div class="btn-group" role="group">


                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}