{% extends "base.html" %}
{% load workify_tags %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block content %}
  <div class="modal fade" id="PopupModal" tabindex="-1" aria-labelledby="PopupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" id="PopupModalContent">
        
      </div>
    </div>
  </div>
  {% include 'sidebar.html' %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {% block topbar %}
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb h2">
              {% render_breadcrumbs breadcrumbs %}
            </ol>
          </nav>       
            
          <div class="btn-toolbar mb-md-0">
            {% render_button top_buttons %}
          </div> 
        {% endblock %}
      </div>
      {% include 'messages.html' %}
      {% block main  %}{% endblock %}
    </main>
{% endblock %}