{% load static %}
{% load workify_tags %}

    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">

          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>

          {% render_sidebar_link 'Employees' 'employees.view_employee' 'employees:employee-list' 'users' %}
          {% render_sidebar_link 'Clients' 'clients.view_client' 'clients:client-list' 'briefcase' %}
          {% render_sidebar_link 'Projects' 'projects.view_project' 'projects:project-list' 'trello' %}
          {% render_sidebar_link 'Budgets' 'budgets.view_budget' 'budgets:budget-list' 'dollar-sign' %}
           {% comment %}{% sidebar_link 'Projects' 'projects.view_project' 'projects:project-list' 'trello' %}
          {% sidebar_link 'Time reports' 'time_reports.view_time_report' 'time_reports:time-report-list' 'clipboard' %}
          {% sidebar_link 'Approvals' 'project.view_project' 'approvals:approval-list' 'chevrons-right' %}

          
        {% sidebar_link 'Clients' 'clients.view_client' 'clients:list' 'briefcase' %}
          {% sidebar_link 'Contracts' 'contracts.view_contract' 'contracts:list' 'file-text' %}
          {% sidebar_link 'Budgets' 'budgets.view_budget' 'budgets:list' 'dollar-sign' %}
          {% sidebar_link 'Projects' 'projects.view_project' 'projects:list' 'trello' %} {% endcomment %}

          {% comment %} <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="trello"></span>
              [todo] Projects
            </a>
          </li> {% endcomment %}
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="clipboard"></span>
              [todo] Time reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="chevrons-right"></span>
              [todo] Approvals
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="dollar-sign"></span>
              [todo] Budgets
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
      
    {% if object.get_mini_audit %}
    [TODO] Add verificarion of persmission to view audit
      <div class="container mt-auto ">
        <span class="text-body-secondary fw-light ">{{ object.get_mini_audit }}</span>
      </div>
    {% endif %}
    </nav>
