.select2-container .select2-selection--single {
    height: 38px;
    padding-right: 12px;
}
.select2-container .select2-selection--single.custom-select-sm{
    height: 32px;
    padding-right: 12px;
}

.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 0px;
    line-height: 24px;
}
.select2-container .select2-selection--single .select2-selection__rendered.custom-select-sm{
    padding-left: 0px;
    line-height: 21px;
}

b[role="presentation"] {
    display: none;
}
.select2-container--default .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple, 
.select2-container--default .select2-selection--multiple, 
.select2-dropdown{
    border: 1px solid #ced4da;
}
.select2-container .select2-selection--multiple .select2-selection__rendered{
    display: block;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container .select2-search--inline .select2-search__field{
    margin: 2px 5px 2px 0px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{
    padding: 0px 5px 0px 0px;
}