body {
    font-size: .875rem;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 100%;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }


  
.error {
  color: #5a5c69;
  font-size: 7rem;
  position: relative;
  line-height: 1;
  width: 12.5rem;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(10px, 9999px, 83px, 0);
  }
  5% {
    clip: rect(2px, 9999px, 65px, 0);
  }
  10% {
    clip: rect(8px, 9999px, 54px, 0);
  }
  15% {
    clip: rect(24px, 9999px, 22px, 0);
  }
  20% {
    clip: rect(19px, 9999px, 84px, 0);
  }
  25% {
    clip: rect(19px, 9999px, 10px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 77px, 0);
  }
  35% {
    clip: rect(74px, 9999px, 34px, 0);
  }
  40% {
    clip: rect(34px, 9999px, 64px, 0);
  }
  45% {
    clip: rect(83px, 9999px, 47px, 0);
  }
  50% {
    clip: rect(23px, 9999px, 70px, 0);
  }
  55% {
    clip: rect(55px, 9999px, 49px, 0);
  }
  60% {
    clip: rect(90px, 9999px, 21px, 0);
  }
  65% {
    clip: rect(58px, 9999px, 63px, 0);
  }
  70% {
    clip: rect(77px, 9999px, 11px, 0);
  }
  75% {
    clip: rect(6px, 9999px, 72px, 0);
  }
  80% {
    clip: rect(27px, 9999px, 57px, 0);
  }
  85% {
    clip: rect(89px, 9999px, 54px, 0);
  }
  90% {
    clip: rect(55px, 9999px, 4px, 0);
  }
  95% {
    clip: rect(36px, 9999px, 91px, 0);
  }
  100% {
    clip: rect(19px, 9999px, 71px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(10px, 9999px, 83px, 0);
  }
  5% {
    clip: rect(2px, 9999px, 65px, 0);
  }
  10% {
    clip: rect(8px, 9999px, 54px, 0);
  }
  15% {
    clip: rect(24px, 9999px, 22px, 0);
  }
  20% {
    clip: rect(19px, 9999px, 84px, 0);
  }
  25% {
    clip: rect(19px, 9999px, 10px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 77px, 0);
  }
  35% {
    clip: rect(74px, 9999px, 34px, 0);
  }
  40% {
    clip: rect(34px, 9999px, 64px, 0);
  }
  45% {
    clip: rect(83px, 9999px, 47px, 0);
  }
  50% {
    clip: rect(23px, 9999px, 70px, 0);
  }
  55% {
    clip: rect(55px, 9999px, 49px, 0);
  }
  60% {
    clip: rect(90px, 9999px, 21px, 0);
  }
  65% {
    clip: rect(58px, 9999px, 63px, 0);
  }
  70% {
    clip: rect(77px, 9999px, 11px, 0);
  }
  75% {
    clip: rect(6px, 9999px, 72px, 0);
  }
  80% {
    clip: rect(27px, 9999px, 57px, 0);
  }
  85% {
    clip: rect(89px, 9999px, 54px, 0);
  }
  90% {
    clip: rect(55px, 9999px, 4px, 0);
  }
  95% {
    clip: rect(36px, 9999px, 91px, 0);
  }
  100% {
    clip: rect(19px, 9999px, 71px, 0);
  }
}

.error:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #e74a3b;
  top: 0;
  color: #5a5c69;
  background: #f8f9fc;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(37px, 9999px, 52px, 0);
  }
  5% {
    clip: rect(77px, 9999px, 64px, 0);
  }
  10% {
    clip: rect(22px, 9999px, 93px, 0);
  }
  15% {
    clip: rect(38px, 9999px, 90px, 0);
  }
  20% {
    clip: rect(17px, 9999px, 20px, 0);
  }
  25% {
    clip: rect(20px, 9999px, 39px, 0);
  }
  30% {
    clip: rect(55px, 9999px, 43px, 0);
  }
  35% {
    clip: rect(72px, 9999px, 8px, 0);
  }
  40% {
    clip: rect(17px, 9999px, 94px, 0);
  }
  45% {
    clip: rect(87px, 9999px, 64px, 0);
  }
  50% {
    clip: rect(54px, 9999px, 26px, 0);
  }
  55% {
    clip: rect(89px, 9999px, 22px, 0);
  }
  60% {
    clip: rect(3px, 9999px, 3px, 0);
  }
  65% {
    clip: rect(60px, 9999px, 57px, 0);
  }
  70% {
    clip: rect(68px, 9999px, 88px, 0);
  }
  75% {
    clip: rect(39px, 9999px, 4px, 0);
  }
  80% {
    clip: rect(40px, 9999px, 89px, 0);
  }
  85% {
    clip: rect(1px, 9999px, 91px, 0);
  }
  90% {
    clip: rect(31px, 9999px, 43px, 0);
  }
  95% {
    clip: rect(51px, 9999px, 93px, 0);
  }
  100% {
    clip: rect(21px, 9999px, 67px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(37px, 9999px, 52px, 0);
  }
  5% {
    clip: rect(77px, 9999px, 64px, 0);
  }
  10% {
    clip: rect(22px, 9999px, 93px, 0);
  }
  15% {
    clip: rect(38px, 9999px, 90px, 0);
  }
  20% {
    clip: rect(17px, 9999px, 20px, 0);
  }
  25% {
    clip: rect(20px, 9999px, 39px, 0);
  }
  30% {
    clip: rect(55px, 9999px, 43px, 0);
  }
  35% {
    clip: rect(72px, 9999px, 8px, 0);
  }
  40% {
    clip: rect(17px, 9999px, 94px, 0);
  }
  45% {
    clip: rect(87px, 9999px, 64px, 0);
  }
  50% {
    clip: rect(54px, 9999px, 26px, 0);
  }
  55% {
    clip: rect(89px, 9999px, 22px, 0);
  }
  60% {
    clip: rect(3px, 9999px, 3px, 0);
  }
  65% {
    clip: rect(60px, 9999px, 57px, 0);
  }
  70% {
    clip: rect(68px, 9999px, 88px, 0);
  }
  75% {
    clip: rect(39px, 9999px, 4px, 0);
  }
  80% {
    clip: rect(40px, 9999px, 89px, 0);
  }
  85% {
    clip: rect(1px, 9999px, 91px, 0);
  }
  90% {
    clip: rect(31px, 9999px, 43px, 0);
  }
  95% {
    clip: rect(51px, 9999px, 93px, 0);
  }
  100% {
    clip: rect(21px, 9999px, 67px, 0);
  }
}

.error:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #4e73df;
  top: 0;
  color: #5a5c69;
  background: #f8f9fc;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  margin: 20px auto;
  display: none; /* Initially hidden */
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.htmx-request .spinner {
  display: block;
}

.footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
}

.d-flex.flex-column {
    min-height: 100vh; /* Full viewport height */
}

.content {
    flex: 1; /* Grow the content area to take up remaining space */
}

